Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <A.Tarkowska@dundee.ac.uk>
Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> Andrew J Patterson <workonly@qidane.com>
Chris Allan <callan@glencoesoftware.com> <callan@blackcat.ca>
Colin Blackburn <c.blackburn@dundee.ac.uk> <C.Blackburn@dundee.ac.uk>
Colin Blackburn <c.blackburn@dundee.ac.uk> <colin@ximenes.org.uk>
Dominik Lindner <d.lindner@dundee.ac.uk> <dominikl@users.noreply.github.com>
Jean-Marie Burel <j.burel@dundee.ac.uk> jburel <j.burel@dundee.ac.uk>
Jean-Marie Burel <j.burel@dundee.ac.uk> jean-marie burel <j.burel@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <j.a.moore@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Josh Moore <josh@openmicroscopy.org> <josh.moore@gmx.de>
Josh Moore <josh@openmicroscopy.org> <jmoore@05709c45-44f0-0310-885b-81a1db45b4a6>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <M.T.B.Carroll@Dundee.ac.uk>
Melissa Linkert <melissa@glencoesoftware.com> <melissa.linkert@gmail.com>
Rémy Dornier <remy.dornier@epfl.ch> Rdornier <64911638+Rdornier@users.noreply.github.com>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@debian.org>
Sébastien Besson <sbesson@glencoesoftware.com> <seb.besson@gmail.com>
Will Moore <w.moore@dundee.ac.uk> <will@lifesci.dundee.ac.uk>
